################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator3/FileContentIndex/429d0a6e-b4e3-4398-962a-0f9bd9a61488.vsidx
