################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator3/FileContentIndex/54d4c5cb-8825-4bb2-8aa0-f85cbc66c9cf.vsidx
